.hotelSectionContainer {
    color: var(--text-color);
    position: relative;
    overflow: hidden;
}

.hotelSectionContainer-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.hotelSectionContainer-bg::after {
    content: "";
    width: 100%;
    height: 20%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top, rgba(15, 15, 15, 0), rgba(15, 15, 15, 1));
    z-index: 1;
}

.hotelSectionContainer-bg::before {
    content: "";
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(15, 15, 15, 0), rgba(15, 15, 15, 1));
    z-index: 1;
}

.hotelSectionContainer-bg img {
    filter: blur(2px) grayscale();
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hotelSectionContainer-content {
    padding-top: 120px;
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 80px;
    box-sizing: border-box;
}

.hotelSectionContainer h2 {
    font-family: Archivo Black;
    font-size: 6rem;
    font-weight: 400;
    line-height: 6rem;
    letter-spacing: -0.02em;
    text-align: left;
    margin-bottom: 24px;
    margin-top: 0;
}

.hotelSectionContainer h2 span {
    color: var(--second-color);
}

@media ( 799px<width < 1200px) {
    .hotelSectionContainer {
        margin-top: 63px;
    }

    .hotelSectionContainer h2 {
        font-size: 4rem;
        line-height: 4.1rem;
    }

    .hotelSectionContainer li {
        margin-bottom: 17px;
    }

    .hotelSectionContainer-content {
        padding-top: 120px;
        padding-bottom: 80px;
        padding-left: 40px;
        padding-right: 40px;
        box-sizing: border-box;
    }
    .hotelSectionContainer-content {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (width < 800px) {
    .hotelSectionContainer {
        margin-top: 63px;
    }

    .hotelSectionContainer h2 {
        font-size: 2.5rem;
        line-height: 2.6rem;
    }

    .hotelSectionContainer li {
        margin-bottom: 17px;
    }

    .hotelSectionContainer-content {
        padding-left: 16px;
        padding-right: 16px;
    }
}