.about-frontPage-container {
    height: 100vh;
    min-height: 59rem;
    width: 100%;
    color: var(--text-color);
    z-index: 8;
    position: relative;
}

.about-frontPage-container img {
    margin-top: 90px;
    width: 400px;
}

.about-frontPage-content {
    height: 100%;
    margin: auto 80px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.about-frontPage-title {
    font-family: "Archivo Black", sans-serif;
    font-size: 6rem;
    font-weight: 400;
    line-height: 6rem;
    letter-spacing: -0.02em;
    text-align: left;
    margin-bottom: 0;
}

.about-frontPage-title span {
    color: var(--second-color);
}

.about-frontPage-leftTextContainer {
    height: 100%;
    width: 60%;
    max-width: 660px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-frontPage-rightTextContainer {
    height: 100%;
    width: 35%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-frontPage-rightTextContainer p{
    height: 80%;
}

.about-frontPage-text {
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.575rem;
    letter-spacing: -0.02em;
    text-align: left;
}

.about-frontPage-text span {
    color: var(--second-color);
}

.about-frontPage-container-block {
    position: relative;
}

.about-frontPage-content-phone {
    display: none;
}

@media (940px < width < 1025px) {
    .about-frontPage-content {
        margin: auto 40px;
    }

    .about-frontPage-container {
        min-height: 65.813rem;
    }

    .about-frontPage-container img {
        width: 280px;
    }

    .about-frontPage-leftTextContainer {
       justify-content: flex-start;
    }

    .about-frontPage-text {
        font-size: 1rem;
        line-height: 1.26rem;
    }

}

@media (width < 941px) {
    .about-frontPage-container {
        height: auto;
    }
    .about-frontPage-content {
        display: none;
    }

    .about-frontPage-content-phone {
        margin: auto 16px;
        display: block;
    }

    .about-frontPage-container img {
        transition: none;
        width: 190%;
        height: 100%;
        object-fit: cover;
        bottom: 0;
        z-index: -1;
    }

    .about-frontPage-title-phone {
        font-family: "Archivo Black", sans-serif;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 2.5rem;
        letter-spacing: -0.02em;
        text-align: left;
        margin-bottom: 0;
        margin-top: 14rem;
    }

    .about-frontPage-title-phone span {
        color: var(--second-color)
    }

    .about-frontPage-text-phone {
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.26rem;
        letter-spacing: -0.02em;
        text-align: left;
        margin: 0;
    }
    .about-frontPage-text-phone span {
        color: var(--second-color)
    }

    .about-frontPage-text-phone:nth-of-type(1) {
        margin-top: 1.625rem;
    }
    .about-frontPage-text-phone:nth-of-type(2) {
        margin-top: 1rem;
    }
    .about-frontPage-text-phone:nth-of-type(3) {
        margin-top: 5.625rem;
        margin-bottom: 2rem;
    }
}