.ocultar-scrollbar {
    scrollbar-width: 0;
    -ms-overflow-style: none;
}

.ocultar-scrollbar::-webkit-scrollbar {
    display: none;
}

.about-frontPage-container {
    height: 100vh;
    min-height: 59rem;
    width: 100%;
    color: var(--main-color);
    position: fixed;
    overflow: hidden;
    z-index: 8;
}

.about-frontPage-container img {
    width: 100%;
    position: absolute;
    left: 0;
    transition: 2s ease-in-out;
}

.about-frontPage-content {
    height: 100%;
    margin: auto 80px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.about-frontPage-title {
    font-family: Archivo Black;
    font-size: 6rem;
    font-weight: 400;
    line-height: 6rem;
    letter-spacing: -0.02em;
    text-align: left;
    margin-bottom: 0;
    position: absolute;
    left: 0;
    transition: 1s ease-in-out;
}

.about-frontPage-title span {
    color: var(--second-color);
}

.about-frontPage-leftTextContainer {
    height: 16px;
    width: 660px;
    position: absolute;
    top: 50%;
    left: 0;
}

.about-frontPage-rightTextContainer {
    height: 16px;
    width: 35%;
    position: absolute;
    top: 50%;
    right: 0;
}

.about-frontPage-text{
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.575rem;
    letter-spacing: -0.02em;
    text-align: left;
    position: absolute;
    bottom: -10000%;
    transition: 1s ease-in-out;
}
.about-frontPage-text span {
    color: var(--second-color);
}
.frameImg1 {
    bottom: -73%;
}
.frameImg2 {
    bottom: -16%;
}
.frameImg3 {
    bottom: -16%;
}
.frameImg4 {
    bottom: 0;
}
.frameImg5 {
    bottom: 0;
}
.frameTitle1 {
    bottom: -10000%;
}

.frameTitle2 {
    bottom: -3300%;
}

.frameTitle3 {
    bottom: -1900%;
}
.frameTitle4 {
    bottom: -500%;
}
.frameTitle5 {
    bottom: -500%;
}

.frameP33 {
    bottom: -1900%;
}
.frameP34 {
    bottom: -700%;
}
.frameP35 {
    bottom: 500%;
}

.frameP14 {
    bottom: -2000%;
}
.frameP15 {
    bottom: -1200%;
}
.frameP25 {
    bottom: -2800%;
}

.about-frontPage-container-block {
    position: relative;
}